$navbar-default-bg:#073B15;

@import "bootstrap-sprockets";
@import "bootstrap";

.center{
  text-align:center;
  }
.jumbotron{
  background-image:asset-url('cover_image.jpg');
  background-size:cover;
  height:300px;
  h1,h2{
    color:#ffffff;
    font-weight:bold;
    letter-spacing:1px;
    margin-bottom:30px;
    text-align:center;
    }
}
#logo{
  color:#ffffff;
  float:left;
  font-size:1.7em;
  font-weight:bold;
  letter-spacing:1px;
  text-transform:uppercase;
  &:hover{
    color:#ffffff;
    text-decoration:none;
  }
}
.btn-xlarge{
  background-color:$navbar-default-bg;
  &:hover{
    color:#ffffff;
    text-decoration:none;
  }
}
.description{
  margin-top:0;
  }
.well{
    A{
      color:$navbar-default-bg;
      }
    }
.colormatch{
    A{
      color:$navbar-default-bg;
      }
  }
.chef_info{
  margin-top:10px;
  }
footer{
  border-top:1px solid #eaeaea;
  color:#777;
  margin-top:45px;
  padding-top:5px;
  padding-left:10px;
  padding-right:10px;
  A{
    color:#555;
    &:hover {
      color:#222;
      }
  } // A
  small{
    float:left;
    }
  UL{
    float:right;
    list-style:none;
    LI{
      float:left;
      margin-left:15px;
      }
  } // UL
} // footer